/* Page styles */
body > .content {
  color: #1f2328;
  margin: 0 auto !important;
}
@media (max-width: 600px) { body { font-size: 14px; } }

@import url("theme.css");
a[target="_blank"]::after { content: "\2197"; }
